[safe]
	directory = /mnt/Workspace/code/back-end/java/base_projec
	directory = /mnt/Workspace/code/back-end/java/base_project
	directory = /mnt/Workspace/code/back-end/java/blog
	directory = /mnt/Workspace/code/back-end/java/blog_server
	directory = /mnt/Workspace/code/back-end/java/auth_service
	directory = /mnt/Workspace/Other/Code/Java/dictionary
[user]
	email = ninggiangboy@gmail.com
	name = duykhanh
[init]
	defaultBranch = main
[credential]
	helper = store
[core]
	autocrlf = input
